<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-1 navbar-dark primary-color-dark mb-3" [containerInside]="false">
  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">Navbar</a>
  </mdb-navbar-brand>
</mdb-navbar>
<!--/.Navbar-->


<div class="container">
  <!-- Content here -->

  <!-- Sign In -->
  <form [formGroup]="loginForm" (submit)="cekLogin()" class="text-center border border-light p-5 wow zoomIn" *ngIf="isSignIn == 1">
    <p class="h4 mb-4">Sign in</p>
  
    <!-- Username -->  
    <div class="md-form form-sm">
      <input mdbInputDirective type="text" id="defaultLoginFormUsername" class="form-control form-control-sm" data-error="required" data-success="-" formControlName="username">
      <label for="defaultLoginFormUsername" class="">Username</label>
    </div>
    <!-- Password -->
    <div class="md-form form-sm">
      <input mdbInputDirective type="password" id="defaultLoginFormPassword" class="form-control form-control-sm" data-error="required" data-success="-" formControlName="password">
      <label for="defaultLoginFormPassword" class="">Password</label>
    </div>
    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit" mdbWavesEffect><ngx-spinner size="small" type="line-scale-pulse-out"></ngx-spinner> Sign in</button>
    <!-- Register -->
    <p>Not a member?
      <span class="blue-text" (click)="setIsSignIn(0)">Register</span>
    </p>  
  </form>

  <!-- Register -->
  <form [formGroup]="registerForm" (submit)="register()" class="text-center border border-light p-5 wow zoomIn" *ngIf="isSignIn == 0">
    <p class="h4 mb-4">Sign up</p>

    <!-- Username -->
    <div class="md-form form-sm">
      <input mdbInputDirective type="text" id="defaultRegisterFormUsername" class="form-control form-control-sm" data-error="required" data-success="-" formControlName="username">
      <label for="defaultRegisterFormUsername" class="">Username</label>
    </div>
    <!-- Name -->
    <div class="md-form form-sm">
      <input mdbInputDirective type="text" id="defaultRegisterFormFirstName" class="form-control form-control-sm" data-error="-" data-success="-" formControlName="nama_user">
      <label for="defaultRegisterFormFirstName" class="">Name</label>
    </div>
    <!-- Password -->
    <div class="md-form form-sm">
      <input mdbInputDirective type="password" id="defaultRegisterFormPassword" class="form-control form-control-sm" data-error="required" data-success="-" formControlName="password">
      <label for="defaultRegisterFormPassword" class="">Password</label>
    </div>

    <!-- Sign up button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit" mdbWavesEffect><ngx-spinner size="small" type="line-scale-pulse-out"></ngx-spinner> Sign up</button>
    <!-- Back button -->
    <button mdbBtn color="warning" block="true" class="my-4" type="button" (click)="setIsSignIn(1); registerForm.reset()">Back</button>

  </form>
</div>