<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-2 navbar-dark blue mb-3" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/home">Navbar</a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active':currentPath == 'home'}">
        <a class="nav-link waves-light" routerLink="/home" mdbWavesEffect>Home</a>
      </li>
      <li class="nav-item" [ngClass]="{'active':currentPath == 'setting'}">
        <a class="nav-link waves-light" routerLink="/setting" mdbWavesEffect>Setting</a>
      </li>
      <li class="nav-item" [ngClass]="{'active':currentPath == 'record'}">
        <a class="nav-link waves-light" routerLink="/record" mdbWavesEffect>Record</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" (click)="logout()" mdbWavesEffect>Log out</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->